
{{!-- This page populates the characters from the database into the account creation page --}}

<form action="register" method="POST" class="h-100">
    
        <h2>{{title}}</h2>
        {{# if errors}}
            {{# each errors}}
                {{this.msg}}
            {{/each}}
        {{/if}}
    
    <div class="container-fluid h-100">
        <div class="row h-100" id="create_account_pane">

            <div class="col-12 pt-3 text-center" id="form_column">
                <div class="row justify-content-center">
                    <h2>Create Account</h2>
                </div>
                
                <input type="text" placeholder="Username (min 4 characters)" name="username" required>
                <input type="password" placeholder="Password (min 6 characters)" name="password" required>
                <input type="passwordMatch" placeholder="Re-enter Password" name="passwordMatch" required>
                
                <div class="container-fluid press p-0">

                    <div class="row justify-content-center">
                        <h2>Choose Your Avatar!</h2>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <!-- Characters will Display Here -->
                            <div class="flex-container mb-5" id="character-view">
                                {{#each character.characters}}
                                <div class="card text-center">
                                    <label class="image-button">
                                        <input type="radio" name="profilepic" value="{{this.image_link}}">
                                        <img src="{{this.image_link}}"
                                                class="card-img-top character-image" alt="{{this.character_name}}">
                                    </label>
                                    <div class="card-body">
                                        <h5 class="card-title" id="charname">{{this.character_name}}</h5>
                                        <p class="card-text" id="chardescription">{{this.character_description}}</p>
                                    </div>

                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg m-3">Submit</button>

                </div>
                
                    <a href="/login">Or Login Here</a>
                
            </div>

        </div>

    </div>

</form>










